version: "3.8"

services:
  openvas:
    image: immauss/openvas:latest
    container_name: openvas
    ports:
      - "443:9392"
    environment:
      - PASSWORD=admin
      - USERNAME=admin
      - SMTPPORT=25
      - REDISDBS=512
      - QUIET=false
      - NEWDB=false
      - SKIPSYNC=true
      - RESTORE=false
      - DEBUG=false
      - GMP=9390
    volumes:
      - openvas:/data
    restart: unless-stopped
    shm_size: "2gb"

  wireshark:
    image: wireshark_projet_pro:latest
    container_name: wireshark
    restart: unless-stopped
    tty: true
    stdin_open: true
    command: tail -f /dev/null

  msf:
    image: msf_projet_pro:latest
    container_name: msf
    restart: unless-stopped
    tty: true
    stdin_open: true
    command: tail -f /dev/null

  hydra:
    image: hydra_projet_pro:latest
    container_name: hydra
    restart: unless-stopped
    tty: true
    stdin_open: true
    command: tail -f /dev/null

volumes:
  openvas:
